*{
    margin: 0;
    padding: 0;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.navbar-nav .nav-link:hover{
    color: #57558d;
}
.hero-section{
    background-color: #F0FFF0;
    min-height: 100vh;
}
.hero-content{

}
.hero-content h5{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
.hero-content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 48px;
    line-height: 70px;
    color: #000000;
}
.hero-content h1 span{
    color: #21B573;
}
.hero-content p{
    font-size: 16px;
    line-height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    color: #000;
}

.btn-custom{

background: #21B573;

color: #fff;

padding: 12px 36px;

border-radius: 33px;

border: 1px solid #000;
}
/* Hero section end */

/* feature section start */
.feature-content{

    background: #F8FFFB;
    padding: 35px 1px;
}
.feature-content:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.feature-content img{
    
width: 20%;
height: 62px;
}
.feature-content h2{
    
font-size: 24px;
    
line-height: 36px;
    
font-family: auto;
    
font-style: normal;
    
font-weight: 500;
margin-top: 10px;
}
.feature-content p{
    
font-size: 16px;
    
line-height: 24px;
    
color: #585859;
}
.btn-signin{
    background: #21B573;
    font-size: 16px;
    border-radius: 33px;
    color: #fff;
}
.nav-link{
    font-family: 'Poppins';
}
.nav-item{
    padding: 0px 14px;
}
/* Courses section start */
.courses h1{
    font-size: 36px;
    line-height: 54px;
    color: #413960;
}
.courses-item{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}
.courses-item h3{

font-size: 24px;

line-height: 36px;

color: #413960;

font-family: poppins;
}
.courses-item img{
    width: 331px;
    height: 234px;
}
.courses-item p{

font-size: 16px;

line-height: 24px;

color: #585859;

font-family: poppins;
}
.courses-item a{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    width: 137px;
    height: 35px;
    padding: 8px 24px;
    color: #fff;
    text-decoration: none;
    background: #21B573;
    border-radius: 33px;
}
.courses-item ul{

margin-top: 25px;

list-style-type: none;

display: flex;

justify-content: space-between;

padding: 0;
}
.courses-item ul li{
    font-size: 16px;
    font-family: poppins;
}
.courses-item ul li i{

color: #585859;

padding: 6px;
}
/* course section end */
/* testmonial start */
.testmonial-item{

}
.testmonial-item h1{

font-size: 36px;

line-height: 54px;

padding: 60px;
}
.testmonial-item ul{

list-style-type: none;

display: flex;

margin-left: 30%;
}
.testmonial-item ul li{padding-right: 39px;}
.testmonial-item ul li img{

height: 120px;

width: 120px;
} 
.testmonial-item ul li p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 30px;
    color: #000;
}
.course{

font-family: poppins;

}
.course h4{

font-size: 19px;

color: #fff;
}
.course ul {

list-style: none;

padding: 0;
}
.course li{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}
footer{
    padding-top: 70px;
    padding-bottom: 27px;
    background: #282531;
    margin-top: 59px;
}
.message{
    color: #fff;
    font-family: poppins;
    font-size: 16px;
    line-height: 30px;
}
.copyright{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 70px;
}
